torch==2.2.1
torchvision==0.17.1
transformers==4.38.2
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.1
opencv-python==4.9.0.80
onnxruntime==1.17.0
onnxruntime-gpu==1.17.0
whisper==1.1.10
pygame==2.5.2
SpeechRecognition==3.10.1
pyttsx3==2.90
gTTS==2.5.1
Flask==3.0.2
nltk==3.8.1
rouge-score==0.1.2
textstat==0.7.3
matplotlib==3.8.3
seaborn==0.13.2
